.lb-sm {
    font-size: 12px;
}

.lb-md {
    font-size: 16px;
}

.lb-lg {
    font-size: 20px;
}

pre{
    counter-reset: line;
}
code{
    counter-increment: line;
}

code:before{
    content: counters(line, ".", decimal-leading-zero);
    margin-right: 1em;
    color: #aaa;
}

code:before{
    -webkit-user-select: none;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.6s;

    display: block;
    position: absolute;

    padding: 0.5em;
    z-index: 100;
    color: #fff;
    background-color: #000;
    border: solid 1px #aaa;
}

[data-tooltip]:hover::after {
    opacity: 1;
}

#progress-bar {
    position: fixed;
    height: 5px;
    top: 0;
    width: 100%;
    line-height: 0;
    z-index: 10000;
}


